<app-uke-string></app-uke-string>

Uke component
<hr>


<div id="ukelele">
    <div class="c" *ngFor="let chord of currentChord">
        {{chord}}
    </div>
    <div class="ukestring ukestring{{sIndex+1}}" *ngFor="let string of strings; let sIndex = index">
        <div class="nut">
            <span>{{string.ukeString}}</span>
        </div>
        <div class="frets" *ngFor="let fret of string.frets; let fretIndex = index" [attr.data-index]=i>
            <div *ngIf="fretIndex != 0" class="fret fret{{i}}">{{fret}}</div>
        </div>
    </div> 
</div>



<hr>