.ukestring {
    width: 100%;
    display: block;
    float: left;
}
.frets {
    display: block;
    float: left;
}


.ukestring .nut {
    border-left: solid 1px black;
    border-right: solid 1px black;
    color: red;
    font-size: 1em;
    text-align:center;
    float: left;
}

.fret {
    height: 30px;
    width: 50px;
    padding-top: 20px;
    text-align:center;
    border-right: solid 2px silver;
}
.highlighted {
    background-color: yellow;
}