

body {
    background-color: #666FFF;
    font-size: 42px;
  }
#ukelele {
    font-family: monospace;
    display: table;
    margin: 0 auto;
    width: 900px;
}
#uke-settings {
    text-align: center;
}
.ukestring {
    width: 100%;
    display: block;
    float: left;
}
.frets {
    display: block;
    float: left;
}


.ukestring .nut {
    border-left: solid 1px black;
    border-right: solid 1px black;
    color: red;
    font-size: 1em;
    text-align:center;
    float: left;
}

.fret {
    height: 30px;
    width: 50px;
    padding-top: 20px;
    text-align:center;
    border-right: solid 2px silver;
}
.highlighted {
    background-color: yellow;
}



  .wrap { 
    margin: 0 auto;
    border: solid 5px red;
    width: 240px;
    height: 710px;
    background-color: white;
    font-size: 42px;
    transform: rotate(-90deg);
    position: relative;
    top: -233px;
  }
  .wrap .ukeWrap {
    background-color: white;
    position: relative;
    left: 76px;
  }
  
  .wrap .ukelele {
    background-color: #6c2505;
      width: 3em;
      height: 2em;
      padding: 30px 20px 50px 20px;
      border-radius: 90px 90px 0 90px;
      transform: rotate(45deg);
      position: absolute;
      top: 415px;
      left: -40px;
  }
  
  .wrap .ukelele:after{
      content: '';
      background-color: rgba(255,0,0,0.5);
      position: absolute;
      width: 4em;
      height: 4em;
      /* padding: 0px 30px 0px 30px; */
      border-radius:  0 36% 67% 36%;
      top: 2em;
      left: 2em;
      background-color: #6c2505;
  }
  .wrap .hollow{
      background-color: blue;
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      top: 528px;
      left: -22px;
    background-color: #6c2505;
  }
  .wrap .hollow:after {
      content: '';
      background-color: blue;
      position: absolute;
      width: 26px;
      height: 27px;
      border-radius: 50%;
      top: 10px;
      left: 10px;
      top: 13px;
      left: -21px;
    background-color: white;
  }
  
  .wrap .hollow2{
      left: 58px;
  }
  .wrap .hollow2:after {
      left: 45px;
  }
  
  .wrap .hole {
    position: absolute;
    width:70px;
    height:70px;
    background-color: #2a0300;
    border-radius: 50%;
    top: 496px;
    left: 8px;
  }
  .wrap .neck {
    position: absolute;
    background-color: black;
    width: 60px;
    height: 355px;
    top: 120px;
    left: 13px;
    z-index: 1;
  }
  .wrap .frets {
    position: absolute;
    width: 60px;
    height: 350px;
    top: 120px;
    left: 13px;
    z-index: 2;
  }
  .wrap .frets div {
    width: 100%;
    box-shadow: 0px -1px grey inset;
  }
  .wrap .fret1 {
    height: 28px;
  }
  .wrap .fret2 {
    height: 27px;
  }
  .wrap .fret3 {
    height: 26px;
  }
  .wrap .fret4 {
    height: 25px;
  }
  .wrap .fret5 {
    height: 24px;
  }
  .wrap .fret5:before, .fret7:before,.fret10:before,.fret12:before{
      content: '';
      height: 6px;
      width: 6px;
      background-color: white;
      border-radius: 50%;
      position: relative;
      /* z-index: 3; */
      display: table;
      margin: auto;  
  }
  .wrap .fret5:before{
      top: 9px;
  }
  .wrap .fret7:before{
    top: 8px;
  }
  .wrap .fret10:before{
    top:5px;
  }
  .wrap .fret12:before{
    top: 5px;
    left: -9px;
    box-shadow: 17px 0px #FFF;
  }
  
  .wrap .fret6 {
    height: 23px;
  }
  .wrap .fret7 {
    height: 22px;
  }
  .wrap .fret8 {
    height: 21px;
  }
  .wrap .fret9 {
    height: 20px;
  }
  .wrap .fret10 {
    height: 19px;
  }
  .wrap .fret11 {
    height: 18px;
  }
  .wrap .fret12 {
    height: 17px;
  }
  .wrap .fret13 {
    height: 16px;
  }
  .wrap .fret14 {
    height: 15px;
  }
  .wrap .fret15 {
    height: 14px;
  }
  .wrap .fret16 {
    height: 13px;
  }
  .wrap .fret17 {
    height: 12px;
  }
  .wrap .neckpoint {
    background-color: blue;
    width: 60px;
    height:15px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: #6c2505;
    background-color: black;
    box-shadow: 15px -2px 0 0 #6e2505 inset, -15px -2px 0 0 #6e2505 inset;
  }
  .wrap .neckpoint:before{
    content:'';
    width: 30px;
    height:13px;
    position: absolute;
    background-color:#6c2505;
    top:0;
    left:0;
    border-top-right-radius: 60%
  }
  .wrap .neckpoint:after{
    content:'';
    width: 30px;
    height:13px;
    position: absolute;
    background-color:#6c2505;
    top:0;
    right:0;
    border-top-left-radius: 60%
  }
  .wrap .headstock{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .wrap .headpoint {
      background-color: blue;
      width: 94px;
      height: 30px;
      position: relative;
      top: 0;
      left: -4px;
      background-color: #6c2505;
      box-shadow: 15px -2px 0 0 #6e2505 inset, -15px -2px 0 0 #6e2505 inset;
  }
  .wrap .headpoint:before {
      content: '';
      width: 48px;
      height: 21px;
      position: absolute;
      background-color: white;
      top: 0;
      left: 0;
      border-bottom-right-radius: 60%;
  }
  .wrap .headpoint:after {
      content: '';
      width: 48px;
      height: 21px;
      position: absolute;
      background-color: white;
      top: 0;
      right: 0;
      border-bottom-left-radius: 60%;
  }
  .wrap .headstock_main {
      width: 84px;
      height: 0;
      position: relative;
      top: 0;
      left: -4px;
      background-color: white;
      border-top: 89px solid #6a2505;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-radius: 0 0 50% 50%;
  }
  .wrap .headstock_bottom {
      width: 56px;
      height: 0;
      position: absolute;
      top: 92px;
      left: 0;
      background-color: white;
      border-top: 33px solid #6a2505;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-radius: 0 0 50% 50%;
  }
  .wrap .headstock_bottom:after {
      content: '';
      width: 60px;
      height: 4px;
      background-color: #1f1303;
      display: block;
      position: relative;
      top: -8px;
      left: -2px;
  }
  .wrap .string_pegs {
    position: relative;
    top: -80px;
    z-index: 1;
  }
  .wrap .peg {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 1px 1px silver, -1px -1px silver, 1px -1px silver, -1px 1px silver;
    background-color: gold;
    left: 10px;
  }
  .wrap .tuning_peg {
      background-color: gold;
      width: 5px;
      height: 5px;
      position: relative;
      left: -17px;
      top: 3px;
      display: block;
    box-shadow: -1px 0 #6c2505 inset;
  }
  .wrap .tuning_peg:after {
      
      content: '';
      background-color: gold;
      width: 20px;
      height: 20px;
      position: absolute;
      left: -19px;
      top: -8px;
      border-radius: 50%;
      perspective: 100px;
      transform-origin: top left;
  }
  .wrap .peg:nth-child(2) .tuning_peg {
    left: 23px;
    box-shadow: 1px 0 #6c2505 inset;
  }
  .wrap .peg:nth-child(2) .tuning_peg:after {
    left: 4px;
  }
  .wrap .peg:nth-child(3) .tuning_peg {
   left: -15px;
    top: 3px;
    box-shadow: -1px 0 #6c2505 inset;
  }
  .wrap .peg:nth-child(3) .tuning_peg:after {
    left: -19px;
  }
  .wrap .peg:nth-child(4) .tuning_peg {
    left: 21px;
    top: 3px;
    
    box-shadow: 1px 0 #6c2505 inset;
  }
  .wrap .peg:nth-child(4) .tuning_peg:after {
    left: 4px;
  }
  
  .wrap .peg:nth-child(2){
    left: 65px;
    top: -10px;
  }
  .wrap .peg:nth-child(3){
    top: 20px;
  }
  .wrap .peg:nth-child(4){
    top: 10px;
    left: 65px;
  }
  .wrap .peg:nth-child(1):before {
      float: right;
      transform-origin: top right;
      transform: rotate(-254deg);
      left: -3px;
      position: relative;
      border-radius: 50% 50% 0 0;
  }
  .wrap .peg:after, .peg:before {
      content: '';
      width: 1px;
      height: 12px;
      background-color: silver;
      display: block;
  }
  .wrap .peg:nth-child(1):after {
      position: relative;
      left: 10px;
      top: 3px;
      height: 79px;
      transform-origin: top left;
      transform: rotate(-11deg);
      border-radius: 0 50% 0 0;
  }
  .wrap .peg:nth-child(2):before {
      float: left;
      transform-origin: top left;
      transform: rotate(50deg);
      top: -1px;
      position: relative;
      left: 2px;
      border-radius: 50% 50% 0 0;
      height: 10px;
  }
  .wrap .peg:nth-child(2):after {
      position: relative;
      height: 83px;
      transform-origin: top left;
      transform: rotate(9.9deg);
      left: -1px;
      top: 1px;
      border-radius: 50% 0 0 0;
  }
  .wrap .peg:nth-child(3):before {
      float: left;
      transform-origin: top left;
      transform: rotate(15deg);
      border-radius: 50% 50% 0 0;
      position: relative;
      left: 0px;
      top: 1px;
  }
  .wrap .peg:nth-child(3):after {
      position: relative;
      left: 11px;
      top:-2px;
      height: 37px;
      transform-origin: top left;
      transform: rotate(0deg);
      border-radius: 0 90% 0 0;
  }
  .wrap .peg:nth-child(4):before {
      float: right;
      transform-origin: top left;
      transform: rotate(-190deg);
      height: 5px;
  }
  .wrap .peg:nth-child(4):after {
      position: relative;
      left: -1px;
      top: 2px;
      height: 72px;
      transform-origin: top left;
      border-radius: 50% 0 0 0;
      transform: rotate(0deg);
  }
  .wrap .strings {
    position: absolute;
    top: 0;
    left: 0;
  }
  .wrap .strings div {
      width: 1px;
      height: 500px;
      background-color: silver;
      float: left;
      display: inline-block;
      position: absolute;
      top: 119px;
      left: 21px;
      z-index: 1;
  }
  .wrap .strings div:nth-child(2){
    left: 34px;
  }
  .wrap .strings div:nth-child(3){
    left: 51px;
  }
  .wrap .strings div:nth-child(4){
    left: 64px;
  }
  
  .wrap .saddle {
  position: absolute;
      width: 54px;
      height: 4px;
      background-color: #2d0303;
      display: block;
      top: 619px;
      left: 16px;
  }

  .fretG:after, .fretC:after, .fretE:after, .fretA:after {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    background-color: skyblue;
    border-radius: 50%;
    position: relative;
    top: 35%;
    left: 5px;
  }
  .fretC:after {
    left: 18px;
  }
  .fretE:after {
    left: 35px;
  }
  .fretA:after {
    left: 48px;
  }
  .fret5:after{
    top: 12%;
  }
  .fret7:after {
    top: 7%;
  }
  .fret10:after {
    top: -5%;
  }
  .fret12:after {
    top: -10%;
  }
  .fret13:after, 
  .fret14:after, 
  .fret15:after, 
  .fret16:after, 
  .fret17:after {
    top: 20%;
    width: 7px;
    height: 7px;
  }