<app-uke-string></app-uke-string>

<hr>
<div id="uke-settings">Chord: {{chord | chordnameSimplifier }}</div>
<hr>

<div id="ukelele">
    <div class="ukestring ukestring{{sIndex+1}}" *ngFor="let string of strings; let sIndex = index">
        <div class="nut" [ngClass]="{highlighted: cssThisFret(0,sIndex)}">
            <span>{{string.ukeString}}</span>
        </div>
        <div class="frets" *ngFor="let fret of string.frets; let fretIndex = index" [attr.data-index]=i>
            <div *ngIf="fretIndex != 0">
                <div class="fret fret-{{fretIndex}}" [ngClass]="{highlighted: cssThisFret(fretIndex,sIndex)}">{{fretIndex}}</div>
            </div>
        </div>
    </div> 
</div>



<hr>

<div class="wrap">
    <div class="ukeWrap">
        <div class="headstock">
            <div class="headpoint"></div>
            <div class="headstock_main"></div>
            <div class="string_pegs">
                <div class="peg">
                    <div class="tuning_peg"></div>
                </div>
            <div class="peg">
                <div class="tuning_peg"></div>
            </div>
            <div class="peg">
                <div class="tuning_peg"></div>
            </div>
            <div class="peg">
                <div class="tuning_peg"></div>
            </div>
            </div>
            <div class="headstock_bottom"></div>
        </div>
        <div class="neck">
            <div class="neckpoint"></div>
        </div>
        <div class="frets">
            <div class="fret1"></div>
            <div class="fret2"></div>
            <div class="fret3"></div>
            <div class="fret4"></div>
            <div class="fret5"></div>
            <div class="fret6"></div>
            <div class="fret7"></div>
            <div class="fret8"></div>
            <div class="fret9"></div>
            <div class="fret10"></div>
            <div class="fret11"></div>
            <div class="fret12"></div>
            <div class="fret13"></div>
            <div class="fret14"></div>
            <div class="fret15"></div>
            <div class="fret16"></div>
            <div class="fret17 "></div>
        </div>
        <div class="strings">
            <div class="stringG"></div>
            <div class="stringC"></div>
            <div class="stringE"></div>
            <div class="stringA"></div>
        </div>
        <div class="ukelele"></div>
        <div class="hollow"></div>
        <div class="hollow hollow2"></div>
        <div class="hole"></div>
        <div class="saddle"></div>
    </div>
  </div>