<div id="info-copyright">
<p>
  This site was made with reckless abandon in Angular 2.4.10
</p>
<p>
  This is the 1st iteration of this application.
</p>
<p>
  Future improvements could include: 
</p>
  <ul>
    <li>Less awkward fingerings for some chords (the E chord and Adim chords are especially awkward right now)</li>
    <li>A ukelele displaying the fingerings for chords.</li>
    <li>Adding variations to chords (sus, 7, aug, etc)</li>
    <li>Audio?</li>
    <li>Actual CSS that looks somewhat professional?</li>
  </ul>
<p>
  Feedback? Hate mail? My email is &#109;&#64;grant.ski
</p>
</div>