<div id="settings"><hr>
<h2>Settings</h2>
<p>
  Key: <span class="pink">{{root}}</span> <span class="help">(Click piano key above to change key)</span>
</p>
<p class="mode mode-{{mode}}">
  Mode: 
    <button id="changeMajor" (click)="changeMode('major')">Major</button>
    <button id="changeMinor" (click)="changeMode('minor')">Minor</button>
    <span class="help">Click "Major" or "Minor" to change the key.</span>
</p>
<!-- <p>
  Tuning: {{tune}} <span class="help">(Custom tuning not implemented)</span>
</p>
<p>
  <span (click)="changeHand(!hand)">Right-Handedness</span>: {{hand}} <span class="help">(Custom Ukelele display not implemented)</span><br />
</p> -->
<p>
  Chord: <span class="pink">{{chord}}</span>
</p>
<p>
  Frets: <span class="pink">{{frets}}</span>
</p>
<hr>
</div>